<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>360187297494-6litn5cs4njf51lfj855suoaa4aiq9ha.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.360187297494-6litn5cs4njf51lfj855suoaa4aiq9ha</string>
	<key>API_KEY</key>
	<string>AIzaSyBBR-h-4hZW0yZg0fX8iA3rLTMyF7qJz2g</string>
	<key>GCM_SENDER_ID</key>
	<string>360187297494</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vedicMaths</string>
	<key>PROJECT_ID</key>
	<string>vedicmind-4c15e</string>
	<key>STORAGE_BUCKET</key>
	<string>vedicmind-4c15e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:360187297494:ios:04b20729c9f1ef18dad377</string>
</dict>
</plist>